<div class="navbar-style">
    <div>
    <input type="search" placeholder="جستجو" class="input-search-style">
    <i class="mdi mdi-magnify search-icone-style"></i>
    </div>
    <div class="d-flex ">
        <div class="bell-style">
            <p>
                <img src="../../../assets/images/Flag_of_Iran.svg.png" alt="flag" class="flag-iran">
            </p>
        </div>
        <div class="bell-style">
            <p>
                <i class="mdi mdi-bell-badge"></i>
            </p>
        </div>
        <div class="bell-style">
            <p>
                <i class="mdi mdi-email-newsletter"></i>

            </p>
        </div>

        <div class="login-signin-styles">
            <div class="header-login-style" routerLinkActive="active"  routerLink="login">ورود</div>
            |
            <div class="header-signin-style">ثبت نام</div>
        </div>
    </div>

</div>

<!-- <div class="header-login-style" routerLinkActive="active"  routerLink="login">ورود</div> -->

