$header-bg-color: #fdfffc;
$mellow-gray-color:#e9ecef;
$gray-color: #6c757d;

.navbar-style{
    background-color: $header-bg-color;
    // padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
}



.input-search-style{
    padding: 15px;
    background-color: $mellow-gray-color;
    border: unset;
    border-radius: 15px;
    // height: 30px;
}
.search-icone-style{
    color: $gray-color;
    margin-right: 13px;
    font-size: x-large;
    cursor: pointer;
}
.login-signin-styles{
    display: flex;
    flex-direction: row;
    border: 1px solid $mellow-gray-color;
    border-radius: 10px;
    padding-top: 13px;
}
.header-signin-style{
    padding: 0px 5px ;
}
.header-login-style{
    padding: 0px 15px ;
    cursor: pointer;
}
.bell-style{
    border: 1px solid $mellow-gray-color;
    padding: 10px 15px 10px 10px;
    border-radius: 40px;
    margin-left: 20px;
    background-color: #e9ecef;
    height:50px;
    width: 50px;
    font-size: larger;
    color: #5b5c5d;
    cursor: pointer;
}

.flag-iran{
    width: 30px;
    height:26px;
    padding-left: 10px;
}
.header-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.back-button{
    margin-right: 840px;
}
