.navbar-style {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  // margin-right: 250px;
}

.input-search-style {
  padding: 15px;
  background-color: var(--mellow-gray-color);
  border: unset;
  border-radius: 15px;
  // height: 30px;
}
.search-icone-style {
  color: var(--gray-color);
  margin-right: 13px;
  font-size: x-large;
  cursor: pointer;
}
.login-signin-styles {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--mellow-gray-color);
  border-radius: 10px;
  padding-top: 13px;
  margin-right: 930px;
}

.login-signin-styles:hover {
  background-color: var(--mellow-gray-color);
}

.header-login-style {
  padding: 0px 15px;
  cursor: pointer;
}

.bell-style {
  border: 1px solid var(--mellow-gray-color);
  padding: 15px 14px 10px 12px;
  border-radius: 40px;
  margin-left: 20px;
  background-color: var(--mellow-gray-color);
  height: 50px;
  width: 50px;
  font-size: 25px;
  color: var(--gray-color);
  cursor: pointer;
}

.flag-iran {
  width: 45px;
  height: 39px;
  padding-left: 4px;
}
.header-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flag-style {
  border: 1px solid var(--mellow-gray-color);
  padding: 4px 10px 0px 0px;
  border-radius: 40px;
  margin-left: 20px;
  background-color: var(--mellow-gray-color);
  height: 50px;
  width: 50px;
  font-size: 25px;
  color: var(--gray-color);
  cursor: pointer;
}
.login-button-style {
  padding-left: 7px;
}
