
<nav class="navbar navbar-expand-lg navbar-style">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex">
            <ul class="navbar-nav">
                <li class="nav-item header-style">
                    <div class="d-flex ">
                        <div class="bell-style">
                            <p>
                                <img src="../../../assets/images/Flag_of_Iran.svg.png" alt="flag" class="flag-iran">
                            </p>
                        </div>
                        <div class="bell-style">
                            <p>
                                <i class="mdi mdi-bell-badge"></i>
                            </p>
                        </div>
                        <div class="bell-style">
                            <p>
                                <i class="mdi mdi-email-newsletter"></i>

                            </p>
                        </div>
                    </div>
                </li>
                <div class="login-signin-styles">
                    <div class="header-login-style" routerLinkActive="active-link" routerLink="login"> ورود</div>
                </div>
            </ul>
            <button type="button" class="btn btn-secondary back-button" (click)="onClickBack()">بازگشت</button>
        </div>
    </div>
</nav>