<nav class="navbar navbar-expand-lg navbar-style">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex justify-content-between">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item header-style">
                        <div class="d-flex ">
                            <div class="flag-style">
                                <p>
                                    <img src="../../../assets/images/iran-flag.png" alt="flag"
                                        class="flag-iran rounded-circle">
                                </p>
                            </div>
                            <div class="bell-style">

                                <div class="demo-section">
                                    <i class="mdi mdi-bell bell-icon" matBadge="3" matBadgeColor="warn"></i>
                                </div>
                            </div>
                            <div class="bell-style">
                                <p>
                                    <i class="mdi mdi-email-newsletter"></i>

                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="login-signin-styles">
                <div class="header-login-style d-flex justify-content-between" routerLinkActive="active-link" routerLink="login"> 
                    <div class="login-button-style">ورود</div>
                    <i class="mdi mdi-login-variant"></i>
                </div>
            </div>
        </div>
    </div>
</nav>