.login-form-style {
  margin: 80px 550px 0px 550px;
  // background-image: url(../../../../assets/images/background-login.jpg);
  background-color: #d7d3d7;
  border-radius: 90px;
}
.form-style {
  padding: 50px;
  // border-radius: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  //   margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: #385272;
  color: aliceblue;
}

button {
  background-color: #071b41;
  color: white;
  padding: 14px 20px;
  //   margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.avatar-login-style {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  opacity: 0.5;
}
.forget {
  display: flex;
  justify-content: space-between;
}
::placeholder {
  color: white;
  opacity: 1;
}
.icon-input-style {
  color: white;
  background-color: #071b41;
}
.font-forget {
  font-size: 13px;
  color: #1d3557;
  cursor: pointer;
}
input[type="checkbox"] {

  accent-color: #071b41;
}

.login-style{
  background-image: url(../../../../assets/images/background-login.jpg);
  margin: 0px;
  padding: 20px 0px 133px 0px;
}
