.alert-style {
  font-weight: 600;
}
.title-style {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #473a8d;
}
.form-input-style{
    width: 48%;
}
.label-style{
    font-size: 17px;
}
.button-style{
    width: 100%;
    padding: 15px;
    color:aliceblue;
  background-color: #473a8d;

}
.form-control:focus{
border-color: #cdb4db;
box-shadow: 0 0 0 0.25rem #e6d8ef;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 0 0.25rem rgb(255, 215, 215);
}
select.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 0 0.01rem rgb(255, 215, 215);
}
.formcontrol-style{
    color: rgb(247, 56, 56);
}