
.delete {
  font-size: 25px;
  padding-left: 5px;
  color: var(--red);
  cursor: pointer;
  padding-left: 5px;
}
.delete-text{
  font-size: 15px;
  font-family: Vazirmatn !important;
  color: var(--gray-color);
  padding-right: 10px;
}
