
.delete {
  font-size: 25px;
  padding-left: 25px;
  color: var(--red);
  cursor: pointer;
}
.delete-text{
  font-size: 15px;
  font-family: Vazirmatn !important;
  color: var(--gray);
  padding-left: 7px;
}
