
<div class="user-form">
  <div class="card m-5">
    <div class="card-body p-4">
      <div class="d-flex justify-content-between">
        <div></div>
        <div class="card-title title-style pt-3">اطلاعات کاربر</div>
        <button type="button" class="btn back-button" (click)="onClickBack()"><i
            class="mdi mdi-arrow-left mr-5"></i></button>
      </div>
  
      <hr />
      <form class="form-style" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="d-flex justify-content-between">
          <div class="form-group form-input-style">
            <app-input [value]="user.firstName" [labelInput]="'نام'" [form]="form"
              (inputValue)="this.user.firstName=$event" formControlInput="nameFormControl"
              [inputFormControl]="form.get('nameFormControl')"></app-input>
          </div>
  
          <div class="form-group form-input-style">
            <app-input [value]="user.lastName" [labelInput]="'نام خانوادگی'" [form]="form"
              formControlInput="familyFormControl" (inputValue)=" this.user.lastName = $event" ></app-input>
          </div>
        </div>
  
        <div class="d-flex justify-content-between mt-1">
  
          <div class="form-group form-input-style">
            <app-input [value]="user.age" [labelInput]="'سن'" [inputType]="'number'" [form]="form"
              formControlInput='ageFormControl' (inputValue)="this.user.age = $event"></app-input>
          </div>
  
          <div class="form-group form-input-style">
            <app-input [value]="user.username" [labelInput]="'نام کاربری'" [form]="form"
              formControlInput='usernameFormControl' (inputValue)="this.user.username = $event"></app-input>
          </div>
        </div>
  
        <div class="d-flex justify-content-between mt-1">
          <div class="form-group form-input-style">
            <app-input [value]="user.email" [labelInput]="' ایمیل'" [form]="form" formControlInput='emailFormControl'
              (inputValue)="this.user.email = $event"></app-input>
          </div>
  
  
          <div class="form-group form-input-style">
            <app-input [value]="user.phone" [labelInput]="'شماره تلفن'" [form]="form"
              formControlInput='telephoneFormControl' (inputValue)="this.user.phone = $event"></app-input>
          </div>
        </div>
  
        <div class="d-flex justify-content-between mt-1">
          <div class="form-group form-input-style">
            <app-input [labelInput]="'رمز عبور'" [form]="form" [inputType]="hide ? 'password' : 'password'"
              formControlInput='passwordFormControl' (inputValue)="this.user.password = $event" [formName]="'password'">
            </app-input>
          </div>
  
          <div class="form-group form-input-style">
            <app-input [labelInput]="'تکرار رمز عبور '" [form]="form" [inputType]="hide ? 'password' : 'password'"
              formControlInput='confirmPassword' (inputValue)="this.user.configPassword = $event" [formName]="'password'"></app-input>
          </div>
        </div>
  
  
  
        <button class="button-64 pt-3 pb-3" role="button" type="submit">
          <div *ngIf="buttonSubmit ; else elseCond">
            ثبت
          </div>
          <ng-template #elseCond class="pt-5 pb-5">
            <div>
              <div class="spinner-grow spinner-grow-sm " role="status">
              </div>
            </div>
          </ng-template>
        </button>
      </form>
    </div>
  </div>
</div>