<div class="d-flex flex-column flex-shrink-0 sidebar-style" style="width: 280px; height: 757px;">
    <a href="/" class="d-flex align-items-center justify-content-center mb-2 mt-4 text-white text-decoration-none">

        <img src="../../../assets/images/dummy-logo1.png" class="navbar-logo-style" alt="">

    </a>
    <br>
    <ul class="nav nav-pills flex-column mb-auto sidebar-text-style">
        <li class="mb-1" routerLinkActive="active" >
            <a   class="nav-link active" aria-current="page" [routerLink]="'dashboard'">
                <i class="mdi mdi-monitor-dashboard"></i>
                داشبورد
            </a>
        </li>
        <li class="mb-1"  [routerLinkActive]="'active'">
            <a    class="nav-link text-white" [routerLink]="'users-management'">
                <i class="mdi mdi-account"></i>
                مدیریت کاربران 
            </a>
        </li>
        <li class="mb-1">
            <a  routerLink="products-management" routerLinkActive="active" class="nav-link text-white">
                <i class="mdi mdi-file-document-edit"></i>
                مدیریت محصولات
            </a>
        </li>
        <li class="mb-1">
            <a  routerLink="create" routerLinkActive="active-link" class="nav-link text-white">
                <i class="mdi mdi-credit-card-outline"></i>
                مالی
            </a>
        </li>
        <li class="mb-1">
            <a   routerLink="" routerLinkActive="active-link" class="nav-link text-white">
                <i class="mdi mdi-face-agent"></i>
                پشتیبانی
            </a>
        </li>
        <li class="mb-1">
            <a   routerLink="" routerLinkActive="active-link" class="nav-link text-white">
                <i class="mdi mdi-logout-variant"></i>
                خروج
            </a>
        </li>
    </ul>
    <hr>
</div>