.user-detail-style{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
.title-details{
    font-size:18px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.details-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0px  40px 20px 100px;

}

.card-stye{

    margin-right: 300px;
    margin-top: 60px;

}