
.dialog-style{
    padding: 20px;
}
.alert-icon-style{
    text-align: center;
    font-size: 50px;
    color: var(--alert-icon);
}
.question-style{
    text-align: center;
    font-size: 20px;
    font-weight: 20px;
}
.yes-button-style{
    background-color: var(--green);
    color:var(--pale_gray);
}
.no-button-style{
    background-color: var(--red);
    color:var(--pale_gray);

}