/* You can add global styles to this file, and also import other style files */
@import url("../src/assets/font/Vazir/Vazirmatn-font-face.css");

$background: #f4f4f9;

body {
  font-family: Vazirmatn !important;
  margin: 0px;
  background-color: #f4f4f9;
  direction: rtl;
}
.app-header-style{
  width: 100%;
}
.app-slidebar-style{
  height: 757px;
}

[mat-raised-button],[mat-dialog-content]{
  font-family: Vazirmatn !important;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
