:root {
  --white: #ffff;
  --pale_gray: #f4f4f9;
  --mellow-gray-color: #e9ecef;
  --mellow-pink: #e1dae7;
  --mellow-gray: #adb5bd;
  --Light-gray-color:rgb(176, 176, 176);
  --gray-color: #6c757d;
  --gray: rgb(48, 48, 48);
  --green: #01bf01;
  --red: #eb3c3f;
  --alert-icon: rgb(250, 104, 104);
  --orang_color: #f17105;
  --first_purple: #342c5f;
  --second_purple: #473a8d;
  --third_purple: #1a1631;
  --forth_purple: #9b5de5;
  --Lilac_color: #a7a3bc;
  --black: black;
}
