

.search{
    margin-bottom: auto;
    background-color: #fff;
    height: 50px;
}

.search-input{

    color: white;
    border:0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;

}

.search .search-input{
    padding: 0 10px;
    width: 200px;
    caret-color: #536bf6;
    font-size: 18px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search:hover>.search-icon{
    background:#e1dae7;
    color:#473a8d;
}
.search-icon{

    height: 40px;
    width: 50px;
    margin: 5px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #473a8d;
    font-size: larger;

}
a:link{
    text-decoration: none;
}
