<div class="card mb-3 card-users-style">
  <div class="card-header card-header-style">
    <p>کاربران</p>
    <app-search (searchInput)="onSearchUser($event)"></app-search>
    <button type="button" class="btn create-user-button d-flex" (click)="onUserRedirect()">
      <i class="mdi mdi-plus-thick icon-style"></i>
      <p>جدید</p>
    </button>
  </div>
  <div class="card-body table-body">
    <div class="card-text">
      <div class="table-responsive t users-table-style" id="#table-scroll">
        <table class="table users-table-style">
          <thead class="thead-color" *ngIf="usersList?.length !== 0; else elseCond">
            <tr>
              <th scope="col">نام</th>
              <th scope="col">نام خانوادگی</th>
              <th scope="col">سن</th>
              <th scope="col">نام کاربری</th>
              <th scope="col">رمز عبور</th>
              <th scope="col">شماره تلفن</th>
              <th scope="col">ایمیل</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="tbody-color">
            <tr *ngFor="
                let user of usersList;
                let i = index;
                trackBy: trackByFunc
              " [attr.id]="user.id">
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.age }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.password }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.email }}</td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <div class="mat-menu-style">
                    <div class="border-bottom pb-2 pt-2">
                      <button mat-button>
                        <div class="d-flex justify-content-between">
                          <div class="edit-details-text">ویرایش</div>
                          <i class="mdi  mdi-account-edit edit"></i>
                        </div>
                      </button>
                    </div>
                    <div class="border-bottom pb-2 pt-2">
                      <button mat-button>
                        <div class="d-flex justify-content-between">
                          <div class="edit-details-text">جزئیات</div>
                          <i class="mdi  mdi-account-details details"></i>
                        </div>
                      </button>
                    </div>
                    <app-delete-dialog class="pt-1" (newItemEvent)="OnDeleteUser(user)"></app-delete-dialog>
                  </div>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #elseCond>
  <div class="not-found">
    <img src="../../../../assets/images/table-notfound.jpg" class="table-notfound" />
    <p class="pt-4">کاربری یافت نشد</p>
  </div>
</ng-template>