<div class="card mb-3 card-users-style">
    <div class="card-header card-header-style">
        <p>کاربران</p>
        <button type="button" class="btn create-user-button d-flex" (click)="onUserRedirect()">
            <i class="mdi mdi-plus-thick icon-style"></i>
            <p>جدید</p>
        </button>
    </div>
    <div class="card-body table-body">
        <div class="card-text">
            <div class="table-responsive t users-table-style" id="#table-scroll">
                <table class="table  users-table-style">
                    <thead class="thead-color">
                        <tr>
                            <th scope="col">نام</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">نام کاربری</th>
                            <th scope="col">رمز عبور</th>
                            <th scope="col">سن</th>
                            <th scope="col">جنسیت</th>
                            <th scope="col">شماره تلفن</th>
                            <th scope="col">ایمیل</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody class="tbody-color">
                        <tr *ngFor="let user of usersList" [attr.id]="user.id">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.password}}</td>
                            <td>{{user.age}}</td>
                            <td>{{user.gender}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <button mat-button class="mdi mdi-account-edit edit" matTooltip="ویرایش"
                                    matTooltipClass="example-tooltip-uppercase" routerLinkActive="active"
                                    routerLink=""></button>
                                <app-delete-dialog></app-delete-dialog>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>