.card-users-style {
  margin: 50px;
}
.card-header-style {
  padding: 30px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: aliceblue;
  background-color: #10002b;
}
.create-user-button {
  background-color: #9b5de5;
  height: 40px;
  // color: aliceblue;
}
.users-table-style {
  color: #10002b;
}
.icon-style {
  padding-left: 5px;
  font-size: 18px;
}
.thead-color {
  color: #473a8d;
  tr {
    th {
      text-align: center;
      font-size: 18px;
    }
  }
}
.tbody-color {
  color: rgb(48, 48, 48);
  tr {
    td {
      text-align: center;
      font-size: 15px;
      padding: 20px 0px;
    }
  }
}

.edit {
  padding-left: 5px;
  font-size: 25px;
  color: #390099;
  cursor: pointer;

}

.table-body{
    overflow-y: scroll;
    height: 450px;
    width: 100%;
}
.mdc-tooltip__surface {
  background-color: #9692af !important;
}

