<div class="example-container" [formGroup]="form">
    <mat-form-field appearance="outline" dir="rtl" class="input-matinput-style">
        <mat-label class="mat-label-style">{{labelInput}}</mat-label>
        <input matInput [type]="inputType" class="input-matinput-style" (input)="onEmitValue()"
            [formControlName]="formControlInput" [(ngModel)]="value">
            
        <mat-error *ngIf="form.get('nameFormControl').hasError('required')" class="error-input"> {{labelInput}} خود را
            به طور صحیح وارد کنید !</mat-error>
            
    </mat-form-field>
</div>























<!-- <div class="example-container">
    <mat-form-field appearance="outline" dir="rtl" class="input-matinput-style">
        <mat-label class="mat-label-style">{{labelInput}}</mat-label>
        <input matInput [type]="inputType" class="input-matinput-style" [formControl]="inputFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') &&!emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
    </mat-form-field>
</div> -->