.mat-label-style {
  padding-left: 10px;
  padding-right: 20px;
  font-size: 17px;
  font-family:  Vazirmatn;
}
.input-matinput-style {
  display: unset;
}
.error-input{
  text-align: right;
  font-family: Vazirmatn !important;
  font-size: 10px;
}

